---
import "../styles/global.css";  // this must be here
const { title = "mdoute", bodyClass = "" } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <slot name="head" />
  </head>
  <body class={`antialiased bg-white text-neutral-900 ${bodyClass}`}>
    <slot />
  </body>
</html>
